<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Certificate</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item-sliding>
          <ion-item *ngFor="let certificate of certificates">
              <ion-thumbnail item-start>
                  <img src="../assets/images/certificate.jpg">
                </ion-thumbnail>
                <h2>{{ certificate.name }}</h2>
                <p>Kolej MASA • {{ certificate.year }}</p>
          </ion-item>
          <ion-item-options side="right">
              <button ion-button color="secondary" (click)="downloadAndOpenPdf()">
                  <ion-icon name="text"></ion-icon>
                  View
                </button>
            <button ion-button color="primary" (click)="shareLink()">
              <ion-icon name="mail"></ion-icon>
              Share
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>
