<!--
  Generated template for the MyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only >
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="profile">
      <ion-segment-button value="information" >
        Profile Information
      </ion-segment-button>
      <ion-segment-button value="wallet">
        Phone Wallet
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="profile">
    
    <ion-list *ngSwitchCase="'information'">
        <ion-card>
            <ion-card-content>
            <div text-center style="display: inline-block;">
              <img class="circle-pic" id="my-avatar" src="{{ url }}">
            </div>
            <br>
          
            <form>
              <ion-list>
                <ion-item-divider color="light" text-center> <ion-icon name="information-circle"></ion-icon> Information</ion-item-divider>
                
                <ion-item>
                  <ion-label stacked>Username</ion-label>
                  <ion-label type="text"  name="profiles.name">{{ profiles?.name ? profiles?.name : '-' }}</ion-label>
                </ion-item>
          
                <ion-item>
                  <ion-label stacked>Contact Number</ion-label>
                  <ion-label type="text"  name="fullname">{{ profiles?.profile.contact ? profiles?.profile.contact : '-' }}</ion-label>
                </ion-item>
          
                <ion-item>
                  <ion-label stacked>Email</ion-label>
                  <ion-label type="email"  name="email" style="padding-bottom: 5px;">{{ profiles?.email ? profiles?.email : '-'  }}</ion-label>
                </ion-item>
              </ion-list>
            </form>
          </ion-card-content>
          </ion-card>
    </ion-list>
  
    <ion-list *ngSwitchCase="'wallet'">
      <ion-card>
        <ion-card-content>
            <h1>Phone Wallet</h1>
            <div text-center style="display: inline-block;">
                <img src="../assets/images/frame.png" style="width: 200px; height: 200px;">
            </div>
            <p>Tap to enlarge</p><br>
            <h3>40e1acd059360519184aa4ba900a54d9</h3>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>




<!-- <ion-content padding-top *ngIf="!isLoading">
<ion-card>
  <ion-card-content>

  <div text-center>
    <ion-img class="circle-pic" id="my-avatar" src="../assets/images/default_picture.png"></ion-img>
  </div>
  <br>

  <form>
    <ion-list>

      <ion-item-divider color="light" text-center> <ion-icon name="information-circle"></ion-icon> Information</ion-item-divider>

      <ion-item>
        <ion-label stacked>Username</ion-label>
        <ion-label type="text"  name="username">Admin</ion-label>
      </ion-item>

      <ion-item>
        <ion-label stacked>Fullname</ion-label>
        <ion-label type="text"  name="fullname">Administrator</ion-label>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-label type="email"  name="email">admin@nidcert.com</ion-label>
      </ion-item>

    </ion-list>
  </form>
      
</ion-card-content>
</ion-card>
</ion-content> -->

