<!--
  Generated template for the MyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only >
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding-top *ngIf="!isLoading">

  <div text-center>
    <img id="my-avatar" [src]="">
  </div>

  <form (submit)="doSubmit()">
    <ion-list>

      <ion-item-divider color="light" text-center> <ion-icon name="information-circle"></ion-icon> Information</ion-item-divider>

      <ion-item>
        <ion-label stacked>Admin</ion-label>
        <ion-input type="text" [(ngModel)]="profile.username" name="username">{{ profile.name }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Administrator</ion-label>
        <ion-input type="text" [(ngModel)]="profile.fullname" name="fullname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>admin@nidcert.com</ion-label>
        <ion-input type="email" [(ngModel)]="profile.email" name="email"></ion-input>
      </ion-item>

      <ion-item-divider color="danger" text-center> <ion-icon name="lock"></ion-icon> Change my Password</ion-item-divider>

      <ion-item>
        <ion-label stacked>secret</ion-label>
        <ion-input type="password" [(ngModel)]="profile.password" name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>secret</ion-label>
        <ion-input type="password" [(ngModel)]="profile.password" name="retry-password"></ion-input>
      </ion-item>

      <div padding text text-center>
        <button ion-button color="primary" icon-right>
        <ion-icon name="checkmark"></ion-icon>
        </button>
      </div>

    </ion-list>
  </form>
</ion-content>
