<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Certificate"  tabIcon="md-document">
  </ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Profile"  tabIcon="contact">
  </ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Logout"  tabIcon="md-log-out" (ionSelect)="logout()">
  </ion-tab>
</ion-tabs>
 