page-home {
    .background{
        width: 100%;
        height: 100%;
        background-image: url('../assets/images/tic-tac-toe.png')
        // background: linear-gradient(10deg,#4e5efc,#4ee7fc)
    }
    .scroll-content{
        text-align: center;
    }
    ion-card.card{
        background-color: #f2f2f2;
        border-radius: 10px;
        margin-top: 10px;
    }
    .item{
        background-color: #f2f2f2;
    }
    ion-input{
        border-bottom: #fd4d73 solid 1px;
    }
    h1{
        color: #bbbbbb;
        font-size: 3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
    }
    ion-img{
        background: 0;
    }
}
