<ion-content class="background">
  <ion-img style="width: 250px; height: 80px; margin-top: 50px; " src="../assets/images/logo_nidcert.png"></ion-img>
  <ion-card>
    <ion-card-header>
      LOGIN
    </ion-card-header>
    <ion-card-content>
      <form #FormLogin="ngForm" (ngSubmit)="login(FormLogin)">
      <ion-list no-lines>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input [(ngModel)]="FormLogin.email" name="email" ngControl="email" type="text" #username required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input [(ngModel)]="FormLogin.password" name="password" ngControl="password" type="password" #password required></ion-input>
          </ion-item>
          <ion-item>
            <p>Forget password?<a> Get here</a></p>
          </ion-item>
          <button [disabled]="!FormLogin.form.value" type="submit" ion-button color="danger" block outline>Sign In</button>
      </ion-list>
      <b>OR</b>
      <button ion-button color="primary" ion-left block>
      <ion-icon name="logo-facebook"> </ion-icon>
      <div> Login with facebook</div>
    </button>
      <button ion-button color="danger" ion-left block>
      <ion-icon name="logo-google"> </ion-icon>
      <div> Login with google</div>
    </button>
  </form>
    </ion-card-content>
  </ion-card>
</ion-content>
