
<ion-header>
<ion-navbar>
    <ion-title>Diploma in Electronic</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="../assets/images/certificate.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Diploma in Software Engineering
            </ion-card-title>
            <label for="">Description</label>
          <p>
            The certificate is issued on November 2014.This certificate confirms that the certificate holder 
            is a student who has been studying at this institution.
          </p>
          <ion-fab>
              <button ion-fab color="secondary"><ion-icon name="arrow-dropright"></ion-icon></button>
              <ion-fab-list side="right">
                <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
              </ion-fab-list>
            </ion-fab>
        </ion-card-content>
      </ion-card>
</ion-content>
